@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500,700&display=swap');

/*.bg-3 { */
/*      background-color: #ffffff;*/
/*      color: #555555;*/
/*  }*/
/*  .container-fluid {*/
/*      padding-top: 70px;*/
/*      padding-bottom: 70px;*/
/*  }*/
/*  .navbar {*/
     
/*      padding-top: 15px;*/
/*      padding-bottom: 15px;*/
/*      border: 0;*/
/*      border-radius: 0;*/
/*      margin-bottom: 0;*/
/*      font-size: 12px;*/
/*      letter-spacing: 5px;*/
/*  }*/
/*  .navbar-nav  li a:hover {*/
/*      color: #1abc9c !important;*/
/*  }*/
/*.active>a {*/
/*    color: #1abc9c !important;;*/
/*  }*/


/* ul li:first-child{*/
/*  padding: 1px 8px;*/
/*  background-color: blue;*/
/*  color: #fff;*/
/*  border-radius: 7px;*/
/*}*/

/*ul li a:first-child{*/
/*    color: #fff*/
/*}*/

/*ul li a:hover{*/
/*    padding: 1px 8px;*/
/*  background-color: blue;*/
/*  color: #fff;*/
/*  border-radius: 7px;*/
/*}*/

body{
    font-family: "Raleway", sans-serif;
    /*background-color: hsl(0, 100%, 98%);*/
}
h1{
        font-family: "Montserrat", sans-serif!important;
        font-weight: 700!important;
    }

    
.jumbotron{
    /*background-color: hsl(0, 100%, 98%);*/
    background-image: url('./pexels-pixabay-270348.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 600px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    
}


    
.form-control{
    width: 300px;
}
    
@media (min-width: 768px){
    
    .nav{
        font-family: "Montserrat", sans-serif;
    }
    
    
    .navbar-header {
    float: right;
}

    .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}

    .navbar{
        background-color: #fff;
        border: none;
        
    }
    
    
    .nav li:first-child{
        background-color: #eee;
        /*background-color: hsl(223, 87%, 63%);*/
        margin-right: 15px;
        border-radius: 12px;
    }
 
    
    .nav li:hover{
        background-color: #eee;
        border-radius: 12px;
    }
    
    .nav li:active{
        background-color: #eee;
        border-radius: 18px;
        transition: 0.5s;
    }
    
    .nav ul li a{
        padding: 7px 13px;
    }
    

}